body {
    color: rgb(0, 0, 0);
    font-family: "Fustat", sans-serif;
    background-color: #F9F4FF;
}

h1 {
    font-size: 80px;
    font-family: "Fustat", sans-serif;
}

.titlediv {
    width: 96%;
    height: 100px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgb(227, 227, 227);
    padding: 30px;
    font-size: 90px;
    font-family: "Fustat", sans-serif;
    margin: 30px 20px 30px 20px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6648B8;
    font-weight: bold;
}

.infodiv {
    width: 96%;
    height: 96%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgb(227, 227, 227);
    padding: 30px 30px 70px 30px;
    font-size: 70px;
    font-family: "Fustat", sans-serif;
    margin: 50px 20px 30px 20px; 
    text-align: center;
    color: #6648B8;
}

.worth {
    font-size: 65px;
    color: black;
}

.urlcount {
    font-size: 65px;
    color: black;
}

button {
  background-color: #AB96E5;  
  color: white;
  width: 400px;
  height: 150px;
  border-radius: 15px;
  font-family: "Fustat", sans-serif;
  font-size: 70px;
  border: none;
  margin-bottom: 50px;
}

button:hover {
    background: #6648B8;
    cursor: pointer;
}